div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
p{
  text-align: center;
}
table{
  margin: 1em;
  border: 2px solid #000066;
  border-collapse: collapse;
}

td, th{
  padding: 0.5em;
  border: 1px solid #000066;
}

* {box-sizing: border-box;}

img {
  border: 0;
  margin-left: 6em;
}
header {
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: #8B0000;
  padding: 5px;
}
body {
  background-image: url("trip.jpeg");
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
}
h1 {
  font-family: Verdana, Arial, sans-serif;
  padding: 0.2em; 
}
nav {
  background-color: #FFA500;
  float: none;
  font-weight: bold;
  padding: 5px;
  width: 180px;
}
nav ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
}
nav a:link {
  color: #000066;
}
nav a:visited {
  color: #5280C5;
}
nav a:hover {
  color: #3262A3;
}
dt
{
  color: #5280C5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", serif;
}
.category {
  font-weight: bold;
  color: #5380C5;
  font-family: Georgia, "Times New Roman", serif;
}
footer {
  font-size: .70em;
  font-style: italic;
  background-color: #FF4500;
  padding: 1em;
  text-align: center;
}
#wrapper {
  margin-right: auto;
  margin-left: auto;
  background-color: #000000;
}
main{
  color: #FFFFFF;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #000000;
}
header, nav, main, footer { 
  display: block;
}

form {
padding: 10px;
}

label {
float: left;
width: 8em;
clear: left;
text-align: right;
padding-right: 1em;
margin-top: 10px;
}

input, textarea { 
  margin-top: 10px;
  margin-bottom: 1em;
display: block;
}

#mySubmit { 
  margin-left: 9.5em;
}

@media only screen and (min-width: 1025px) {
  header {
  line-height: 36px;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 10px;
}
  #wrapper {
  min-width: 700px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFA500;
}
  .category {
  font-weight: bold;
  color: #5380C5;
  font-family: Georgia, "Times New Roman", serif;
  text-shadow: 1px 1px 1px #667;
}
  nav{
float: left;
clear: left;
  }
  main{
  margin-left: 180px;
  padding-left: 2em;
  padding-right: 2em;

}
  footer {
  font-size: .70em;
  font-style: italic;
  background-color: #FF4500;
  padding: 1em;
  margin-left: 180px;
}
  h1 {
  line-height: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 3em;
  padding: 0.2em;
  text-shadow: 1px 1px 1px #8B0000;
}
 h3 {
   line-height: 36px;
   font-size: 5em;
  }
#mobile { display: none;}
#desktop {display: inline;}
  hr{ display: none;}
}
